.wrapper {
  display: flex;
  flex-direction: column;
  max-height: 100vh;
  overflow: hidden;
  border: 1px solid red;
}

.header {
  height: 50px;
  background-color: red;
}

.main {
  display: flex;
  flex: 1;
  background-color: aliceblue;
}

.orderOption {
  width: 300px;
  height: calc(100vh - 50px);
  overflow-y: scroll;
  background-color: palevioletred;
}

.chart {
  display: flex;
  flex: 1;
  flex-direction: column;
  background-color: aquamarine;
}

.gantt {
  flex: 2;
  background-color: bisque;
}

.table {
  flex: 1;
  background-color: blue;
}
