.wrapper {
  display: flex;
  flex-direction: row;
  max-height: 100vh;
  overflow: hidden;
  // border: 1px solid red;
}

.optionWrapper {
  width: 200px;
  // height: 100%;
  overflow-y: scroll;
  // border: 1px solid blue;
}

.containerWrapper {
  flex: 1;
  // border: 1px solid sandybrown;
}
